.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

p {
  font-family: "Roboto";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-family: 'Amatic SC', cursive;
  display:inline;
  font-size:2em;
}

#progress {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#progress > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shell {
  float: left;
  height: 20px;
  width: 250px;
  border: 1px solid #aaa;
  border-radius: 13px;
  padding: 3px;
}

.bar {
  background: linear-gradient(to right, lighten(#7b4397, 10%) , lighten(#dc2430, 10%));
  height: 20px;
  width: 15px;
  border-radius: 9px;
  span {
    float: right;
    padding: 4px;
    color: #fff;
    font-size: 0.7em
  }
}

button {
  margin: 10px;
  border: 1px solid #aaa;
  background: none;
  border-radius: 50%;
  padding: 4px 8px;
  outline: none;
  cursor: pointer;
}
